.navbar
{
    background-color: transparent
}

/**************************************************/



.cajacontacto
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/contactofondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: blue solid 4px;
    
}
.cajacontacto .titul
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

/******************************************************************************************/
.ci1
{
    border: 4px groove BLUE;
    border-radius: 20px;
    background-color: rgba(15, 15, 37,0.8);
    margin: 1%;
    width: 60%;
    min-width: 300px;  
    height: auto;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.ci1 .ci2
{
    width: 48%;
    min-width: 215px;
}
.ci1 .ci2 img
{
    width: 100%;
    height: auto;
}
.ci1 .cd2
{
    width: 48%;
    min-width: 215px;
    text-align: justify;
    padding: 10px;    
}
.ci1 .cd2 p 
{
    margin: 10px 0px;
}

/******************************************************************************************/
.cd1
{
    border: 5px groove BLUE;
    background-color:rgba(15, 15, 37,0.8);
    border-radius: 20px;
    margin: 1%;
    padding: 15px;
    width: 35%;
    min-width:  300px;
    height: auto;
    min-height: 450px;  
}
.cd1 .cicon
{
    text-align: center;
}
.cd1 .cicon i
{    
    font-size: 50px;
    color: #25D366;
    background-color: white;
    border-radius: 50%;
}
.cd1 .titul
{
    font-size: 25px;
}
.cd1 .titul,
.cd1 input,
.cd1 textarea,
.cd1 button
{
    margin: 15px 0px;
    padding: 10px;
}
.cd1 input,
.cd1 textarea
{
    background-color: rgba(255,255,255, 0.75);
    border: solid 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%;
    outline: none;
}
.cd1 textarea 
{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.cd1 button
{
    width: 100%;
    background-color: #002855;
    border: none ;
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
}
.cd1 button:hover
{
    background-color: #05458e;
}
/******************************************************************************************/
.cajaubicacion
{
    width: 100%;
    height: auto;
    text-align: center;
}
.cajaubicacion h2
{
    font-size: 35px;
    background-color: rgba(0,0,0,0.8);
     padding: 10px 0px;   
}
.cajaubicacion .mapa
{
    border: 6px solid skyblue;
    border-radius: 20px;
    display: block;
    width: 80%;
    height: 350px;
    max-height: 350px;
    min-height: 350px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
/*****************************************************************************************************/



@media screen and (max-width: 850px) 
{
    .ci1, .cd1
    {
        width: 80%;
    }
}
@media screen and (max-width: 600px) 
{
    .ci1 .ci2 
    {
        width: 70%;

    }
    .ci1 .cd2
    {
        width: 90%;
    }
}


